*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: black;
    text-align: center;
}
h1{
    color: white;
    font-family: Arial;
}
#myWorld{
    background-color: #2a5;
}
